<ion-header>

  <ion-navbar>
    <ion-title>{{data.nameArea}}</ion-title>
    <!-- <ion-row>
      <button left style="padding: 5px;font-size:30px" (click)="back()">
        <ion-icon name="ios-arrow-back-outline"></ion-icon>
      </button>
    </ion-row> -->
  </ion-navbar>
</ion-header>

<ion-content class="background">
  <ion-card>
    <ion-card-header>
      5 พรรคที่คะแนนสูงสุด
    </ion-card-header>
    <ion-card-content>
      <canvas #barCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-grid text-center>
    <ion-row>
      <ion-col col-12 text-center style="background: #4E5983;color: white">
        <h1>ผลสรุปรวม</h1>
      </ion-col>
    </ion-row>
    <ion-row class="bgTabalcol1" text-left>
      <ion-col text-center col-4>
        พรรค
      </ion-col>
      <ion-col text-center col-4>
        ผู้สมัคร
      </ion-col>
      <ion-col text-left col-4>
        คะแนน
      </ion-col>
    </ion-row>
    <div *ngFor="let data of listScoreParty;let i = index" class="bgTabalcol2 bgTabalcolxx">
      <ion-row *ngIf="i < 5">
        <ion-col col-4 text-center align-self-center>
          {{data.nameParty}}
        </ion-col>
        <ion-col col-4 text-center align-self-center>
          {{data.nameRegister}}
        </ion-col>
        <ion-col col-4 text-left align-self-center>
          {{data.score | number}}
        </ion-col>
      </ion-row>
    </div>

    <ion-row class="bgTabalcol2">
      <ion-col col-4 text-center>
        {{other.name}}
      </ion-col>
      <ion-col col-4 text-center>
      </ion-col>
      <ion-col col-4 text-left>
        {{other.score | number}}
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>